<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>影院列表</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table, tr, td, th {
            margin: auto;
            border: black solid 1px;
            border-collapse: collapse;
            width: 1000px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app" style="width: 100%">
    <table>
        <tr>
            <th>影院名</th>
            <th>影院地址</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tr v-for="item in cinemaList">
            <td>{{item.cinemaName}}</td>
            <td>{{item.cinemaAddress}}</td>
            <td>{{ item.cinemaState===true ? '正常' : '停用' }}</td>
            <td><input v-if="item.cinemaState===false" type="button" value="启用"
                       @click="changeCinema(item.cinemaId,true)">
                <input v-if="item.cinemaState===true" type="button" value="停用"
                       @click="changeCinema(item.cinemaId,false)">
            </td>
        </tr>
    </table>
</div>
</body>
</html>
<script>
    const {createApp} = Vue;
    createApp({
        data() {
            return {
                cinemaList: []
            }
        },
        methods: {
            getCinemaList() {
                axios.post("/admin/cinema-list").then((resp) => {
                    // console.log(resp.data);
                    if (resp.data.code === 200) {
                        this.cinemaList = resp.data.data;
                    } else {
                        alert(resp.data.msg);
                    }
                })
            },
            changeCinema(cid, state) {
                // console.log(cid, state);
                axios.post("/admin/change-cinema-state", {
                    cinemaId: cid,
                    cinemaState: state
                }, {
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                }).then((resp) => {
                    // console.log(resp.data);
                    if (resp.data.code === 200) {
                        this.getCinemaList();
                    } else {
                        alert(resp.data.msg);
                    }
                })
            }
        },
        mounted() {
            this.getCinemaList();
        }
    }).mount('#app');
</script>