<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>添加影院</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <form @submit.prevent="submitFrom">
        <label for="cname">影院名：</label>
        <input type="text" id="cname" v-model="cname" required>
        <br/>
        <label for="cpassword">登录密码：</label>
        <input type="password" id="cpassword" v-model="cpassword" required>
        <br/>
        <label for="caddress">影院地址：</label>
        <input type="text" id="caddress" v-model="caddress" required>
        <br/>
        <input type="submit" value="添加"><br>
        <br>
    </form>
</div>
</body>
</html>
<script>
    const {createApp} = Vue;
    createApp({
        data() {
            return {
                cname: '',
                cpassword: '',
                caddress: ''
            }
        },
        methods: {
            selfile(event) {
                this.imgFile = event.target.files[0];
            },
            submitFrom() {
                // console.log(this.imgFile);
                const formData = new FormData();
                formData.append("cinemaName", this.cname);
                formData.append("cinemaPassword", this.cpassword);
                formData.append("cinemaAddress", this.caddress);
                axios.post("/admin/add-cinema", formData).then((resp) => {
                    // console.log(resp.data);
                    if (resp.data.code === 200) {
                        alert("添加成功");
                        window.location = "home.html";
                    } else {
                        alert(resp.data.msg);
                    }
                });
            }
        }
    }).mount('#app');
</script>